##### Importar las librerias

In [1]:
import pandas as pd
from datetime import datetime

##### Leer el archivo CSV usando pandas

In [2]:
df_data = pd.read_csv('Prod_Cat_Info.csv')

##### Mostrar las primera 5 filas del dataset

In [3]:
df_data.head()

   prod_cat_code  prod_cat  prod_sub_cat_code prod_subcat
0              1  Clothing                  4        Mens
1              1  Clothing                  1       Women
2              1  Clothing                  3        Kids
3              2  Footwear                  1        Mens
4              2  Footwear                  3       Women

##### Examinar tamaño del dataset

In [5]:
df_data.shape

(23, 4)

##### Verificar si hay valores nulos

In [4]:
valores_nulos = df_data.isnull().sum()
print("Valores nulos por columna:")
print(valores_nulos)

Valores nulos por columna:
prod_cat_code        0
prod_cat             0
prod_sub_cat_code    0
prod_subcat          0
dtype: int64

In [5]:
duplicados = df_data[df_data.duplicated()]
print("Total de filas duplicadas:", len(duplicados))

Total de filas duplicadas: 0

##### Verificar la consistencia de los códigos de categorías y subcategorías

In [6]:
categorias_unicas = df_data['prod_cat_code'].unique()
subcategorias_unicas = df_data['prod_sub_cat_code'].unique()
print("Categorías únicas:")
print(categorias_unicas)
print("Subcategorías únicas:")
print(subcategorias_unicas)

Categorías únicas:
[1 2 3 4 5 6]
Subcategorías únicas:
[ 4  1  3  5  8  9 10  7 12 11  6  2]

##### Crear un DataFrame con las combinaciones únicas de categorías y subcategorías

In [7]:
combinaciones_unicas = df_data[['prod_cat_code', 'prod_sub_cat_code']].drop_duplicates()

In [8]:
print("Combinaciones únicas de categorías y subcategorías:")
print(combinaciones_unicas)

Combinaciones únicas de categorías y subcategorías:
    prod_cat_code  prod_sub_cat_code
0               1                  4
1               1                  1
2               1                  3
3               2                  1
4               2                  3
5               2                  4
6               3                  4
7               3                  5
8               3                  8
9               3                  9
10              3                 10
11              4                  1
12              4                  4
13              5                  7
14              5                 12
15              5                 10
16              5                 11
17              5                  3
18              5                  6
19              6                  2
20              6                 10
21              6                 11
22              6                 12

##### Verificar la frecuencia de cada valor en 'prod_cat_code' y 'prod_sub_cat_code'

In [9]:
frecuencia_categorias = df_data['prod_cat_code'].value_counts()
frecuencia_subcategorias = df_data['prod_sub_cat_code'].value_counts()

print("Frecuencia de categorías:")
print(frecuencia_categorias)

print("Frecuencia de subcategorías:")
print(frecuencia_subcategorias)

Frecuencia de categorías:
prod_cat_code
5    6
3    5
6    4
1    3
2    3
4    2
Name: count, dtype: int64
Frecuencia de subcategorías:
prod_sub_cat_code
4     4
1     3
3     3
10    3
11    2
12    2
5     1
8     1
7     1
9     1
6     1
2     1
Name: count, dtype: int64

##### Guardar el DataFrame transformado en un nuevo archivo CSV

In [10]:
df_data.to_csv('Prod_Cat_Info_transformed.csv', index=False)