##### Importar las librerias

In [4]:
import pandas as pd
from datetime import datetime

##### Leer el archivo CSV usando pandas

In [5]:
data = pd.read_csv('Transactions.csv')

##### Mostrar las primera 5 filas del dataset

In [6]:
data.head()

,transaction_id,cust_id,tran_date,prod_subcat_code,prod_cat_code,Qty,Rate,Tax,total_amt,Store_type
0,80712190438,270351,28-02-2014,1,1,-5,-772,405.300,-4265.300,e-Shop
1,29258453508,270384,27-02-2014,5,3,-5,-1497,785.925,-8270.925,e-Shop
2,51750724947,273420,24-02-2014,6,5,-2,-791,166.110,-1748.110,TeleShop
3,93274880719,271509,24-02-2014,11,6,-3,-1363,429.345,-4518.345,e-Shop
4,51750724947,273420,23-02-2014,6,5,-2,-791,166.110,-1748.110,TeleShop

In [7]:
print(data)

       transaction_id  cust_id   tran_date  prod_subcat_code  prod_cat_code  \
0         80712190438   270351  28-02-2014                 1              1
1         29258453508   270384  27-02-2014                 5              3
2         51750724947   273420  24-02-2014                 6              5
3         93274880719   271509  24-02-2014                11              6
4         51750724947   273420  23-02-2014                 6              5
...               ...      ...         ...               ...            ...
23048     94340757522   274550  25-01-2011                12              5
23049     89780862956   270022  25-01-2011                 4              1
23050     85115299378   271020  25-01-2011                 2              6
23051     72870271171   270911  25-01-2011                11              5
23052     77960931771   271961  25-01-2011                11              5

       Qty  Rate      Tax  total_amt Store_type
0       -5  -772  405.300  -4265.300     e-Shop
1       -5 -1497  785.925  -8270.925     e-Shop
2       -2  -791  166.110  -1748.110   TeleShop
3       -3 -1363  429.345  -4518.345     e-Shop
4       -2  -791  166.110  -1748.110   TeleShop
...    ...   ...      ...        ...        ...
23048    1  1264  132.720   1396.720     e-Shop
23049    1   677   71.085    748.085     e-Shop
23050    4  1052  441.840   4649.840        MBR
23051    3  1142  359.730   3785.730   TeleShop
23052    1   447   46.935    493.935   TeleShop

[23053 rows x 10 columns]

##### Examinar tamaño del dataset

In [8]:
data.shape

(23053, 10)

In [9]:
print(data.describe())

       transaction_id        cust_id  prod_subcat_code  prod_cat_code  \
count    2.305300e+04   23053.000000      23053.000000   23053.000000
mean     5.007348e+10  271021.746497          6.149091       3.763632
std      2.898194e+10    2431.692059          3.726372       1.677016
min      3.268991e+06  266783.000000          1.000000       1.000000
25%      2.493864e+10  268935.000000          3.000000       2.000000
50%      5.009313e+10  270980.000000          5.000000       4.000000
75%      7.533000e+10  273114.000000         10.000000       5.000000
max      9.998755e+10  275265.000000         12.000000       6.000000

                Qty          Rate           Tax     total_amt
count  23053.000000  23053.000000  23053.000000  23053.000000
mean       2.432395    636.369713    248.667192   2107.308002
std        2.268406    622.363498    187.177773   2507.561264
min       -5.000000  -1499.000000      7.350000  -8270.925000
25%        1.000000    312.000000     98.280000    762.450000
50%        3.000000    710.000000    199.080000   1754.740000
75%        4.000000   1109.000000    365.715000   3569.150000
max        5.000000   1500.000000    787.500000   8287.500000

##### Verificar el nombre correcto de las columnas

In [10]:
print(data.columns)

Index(['transaction_id', 'cust_id', 'tran_date', 'prod_subcat_code',
       'prod_cat_code', 'Qty', 'Rate', 'Tax', 'total_amt', 'Store_type'],
      dtype='object')

##### Averiguar cuantos valores negativos hay en las columnas de interés

##### valores negativos en 'Qty'

In [11]:
negativos_qty = data[data['Qty'] < 0].shape[0]

In [12]:
print(f"Número de filas con valores negativos en 'Qty': {negativos_qty}")

Número de filas con valores negativos en 'Qty': 2177

##### valores negativos en 'Rate'

In [13]:
negativos_rate = data[data['Rate'] < 0].shape[0]

In [14]:
print(f"Número de filas con valores negativos en 'Rate': {negativos_rate}")

Número de filas con valores negativos en 'Rate': 2177

##### valores negativos en 'tax'

In [15]:
negativos_tax = data[data['Tax'] < 0].shape[0]

In [16]:
print(f"Número de filas con valores negativos en 'Tax': {negativos_tax}")

Número de filas con valores negativos en 'Tax': 0

##### valores negativos en 'total_amt'

In [17]:
negativos_total_amt = data[data['total_amt'] < 0].shape[0]

In [18]:
print(f"Número de filas con valores negativos en 'total_amt': {negativos_total_amt}")

Número de filas con valores negativos en 'total_amt': 2177

##### Vemos si hay valores nulos

In [48]:
valores_nulos = data.isnull().sum()
print("Valores nulos por columna:")
print(valores_nulos)

Valores nulos por columna:
transaction_id      0
cust_id             0
tran_date           0
prod_subcat_code    0
prod_cat_code       0
Qty                 0
Rate                0
Tax                 0
total_amt           0
Store_type          0
dtype: int64

##### Buscamos filas duplicadas

#### Paso 1: Identificar filas duplicadas

In [30]:
duplicados = data[data.duplicated()]

##### Paso 2: Mostrar el total de filas duplicadas

In [37]:
print("Total de filas duplicadas:", len(duplicados))

Total de filas duplicadas: 13

##### Paso 3: Mostrar las filas duplicadas

In [38]:
print("Filas duplicadas:")
print(duplicados)

Filas duplicadas:
       transaction_id  cust_id   tran_date  prod_subcat_code  prod_cat_code  \
3237      63833750229   269016  19-09-2013                10              6
4513      54818572958   274656  19-07-2013                11              6
9748      93088859112   272584   4/11/2012                 1              2
10016     48727689115   270330  21-10-2012                 4              3
10785     95523406151   273937  16-09-2012                 8              3
11251     42255136382   270202  25-08-2012                12              5
12967       426787191   273106  28-05-2012                 1              2
13713     68625357665   270229  24-04-2012                12              6
13770     84298959416   268663  22-04-2012                 3              5
16269      4170892941   266852  21-12-2011                 8              3
16315     44125492691   274748  19-12-2011                 3              2
19869     43292728137   267939    3/7/2011                 4              4
19962     98271941861   267939  29-06-2011                10              5

       Qty  Rate      Tax  total_amt      Store_type
3237    -3  -460  144.900  -1524.900        TeleShop
4513    -5  -662  347.550  -3657.550          e-Shop
9748    -1 -1168  122.640  -1290.640          e-Shop
10016   -4 -1158  486.360  -5118.360        TeleShop
10785   -5  -483  253.575  -2668.575          e-Shop
11251   -4  -841  353.220  -3717.220          e-Shop
12967   -5  -109   57.225   -602.225          e-Shop
13713   -5   -79   41.475   -436.475  Flagship store
13770   -2  -321   67.410   -709.410        TeleShop
16269   -1  -412   43.260   -455.260             MBR
16315   -5  -767  402.675  -4237.675          e-Shop
19869   -2  -739  155.190  -1633.190          e-Shop
19962   -4 -1238  519.960  -5471.960  Flagship store

##### Paso 4: Eliminar filas duplicadas

In [39]:
data_sin_duplicados = data.drop_duplicates()

##### Paso 5: Mostrar el total de filas después de eliminar duplicados

In [41]:
print("Total de filas después de eliminar duplicados:", len(data_sin_duplicados))

Total de filas después de eliminar duplicados: 23040

##### Verificar nuevamente si hay duplicados en el DataFrame después de eliminarlos

In [42]:

duplicados = data_ajustado_sin_duplicados[data_ajustado_sin_duplicados.duplicated()]

##### Mostrar el total de filas duplicadas

In [43]:

print("Total de filas duplicadas:", len(duplicados))

Total de filas duplicadas: 0

##### Convertir la columna 'tran_date' a tipo de dato fecha, infiriendo el formato

In [45]:
data['tran_date'] = pd.to_datetime(data['tran_date'], dayfirst=True, errors='coerce')

##### Verificar si hay fechas que no se pudieron convertir

In [46]:
fechas_invalidas = data[data['tran_date'].isna()]
print("Fechas inválidas:")
print(fechas_invalidas)

Fechas inválidas:
       transaction_id  cust_id tran_date  prod_subcat_code  prod_cat_code  \
144       12323853707   273552       NaT                12              6
145       60596009595   274652       NaT                12              5
146       17146707816   274897       NaT                12              5
147       36792372906   275246       NaT                 2              6
148       38821078489   267025       NaT                10              6
...               ...      ...       ...               ...            ...
22907     80348907828   267124       NaT                 5              3
22908     83849473598   269958       NaT                12              5
22909     95376486237   269403       NaT                 4              3
22910     81365620177   274222       NaT                 3              2
22911     85848725285   271131       NaT                 1              4

       Qty  Rate      Tax  total_amt Store_type
144      4   510  214.200   2254.200   TeleShop
145      4   183   76.860    808.860        MBR
146      3   622  195.930   2061.930        MBR
147      1  1185  124.425   1309.425     e-Shop
148      4   933  391.860   4123.860     e-Shop
...    ...   ...      ...        ...        ...
22907    2   552  115.920   1219.920   TeleShop
22908    3   403  126.945   1335.945     e-Shop
22909    5   673  353.325   3718.325        MBR
22910    3   373  117.495   1236.495     e-Shop
22911    5  1043  547.575   5762.575     e-Shop

[9124 rows x 10 columns]

##### Eliminar filas con fechas inválidas

In [47]:
data = data.dropna(subset=['tran_date'])

##### para continuar el análisis, vamos a eliminar las filas donde haya valores negativos en las columnas Qty y Rate. Esto se hace por no tener mas informacion sobre el dataset que explique la presencia de valores negativos

##### Eliminar filas donde 'Qty' es negativo

In [49]:
data = data[data['Qty'] >= 0]

##### Eliminar filas donde 'Rate' es negativo

In [50]:
data = data[data['Rate'] >= 0]

##### Imprimimos data

In [51]:
print(data)

       transaction_id  cust_id  tran_date  prod_subcat_code  prod_cat_code  \
10        29258453508   270384 2014-02-20                 5              3
11        25455265351   267750 2014-02-20                12              6
12         1571002198   275023 2014-02-20                 6              5
14        36554696014   269345 2014-02-20                 3              5
15        56814940239   268799 2014-02-20                 7              5
...               ...      ...        ...               ...            ...
23048     94340757522   274550 2011-01-25                12              5
23049     89780862956   270022 2011-01-25                 4              1
23050     85115299378   271020 2011-01-25                 2              6
23051     72870271171   270911 2011-01-25                11              5
23052     77960931771   271961 2011-01-25                11              5

       Qty  Rate      Tax  total_amt Store_type
10       5  1497  785.925   8270.925     e-Shop
11       3  1360  428.400   4508.400     e-Shop
12       4   587  246.540   2594.540     e-Shop
14       3  1253  394.695   4153.695     e-Shop
15       5   368  193.200   2033.200     e-Shop
...    ...   ...      ...        ...        ...
23048    1  1264  132.720   1396.720     e-Shop
23049    1   677   71.085    748.085     e-Shop
23050    4  1052  441.840   4649.840        MBR
23051    3  1142  359.730   3785.730   TeleShop
23052    1   447   46.935    493.935   TeleShop

[12595 rows x 10 columns]

##### Crear una nueva columna basada en datos existentes.  Esta columna se llamará 'total' y se crea multiplicando la columna Qty (cantidad de productos) por la columna Rate (recio unitario). Esto da el total de los productos comprados en la transacción, sin incluir impuestos

In [53]:
data['total'] = data['Qty'] * data['Rate']

##### Verificar si la columna 'total' se creó correctamente

In [54]:
if 'total' in data.columns:
    print("La columna 'total' se creó correctamente.")
else:
    print("Error: La columna 'total' no se creó.")

La columna 'total' se creó correctamente.

##### Normalización de la columna 'total' usando Min-Max Scaling

In [55]:
data['total_normalized'] = (data['total'] - data['total'].min()) / (data['total'].max() - data['total'].min())

##### Mostrar el DataFrame transformado

In [57]:
print(data)

       transaction_id  cust_id  tran_date  prod_subcat_code  prod_cat_code  \
10        29258453508   270384 2014-02-20                 5              3
11        25455265351   267750 2014-02-20                12              6
12         1571002198   275023 2014-02-20                 6              5
14        36554696014   269345 2014-02-20                 3              5
15        56814940239   268799 2014-02-20                 7              5
...               ...      ...        ...               ...            ...
23048     94340757522   274550 2011-01-25                12              5
23049     89780862956   270022 2011-01-25                 4              1
23050     85115299378   271020 2011-01-25                 2              6
23051     72870271171   270911 2011-01-25                11              5
23052     77960931771   271961 2011-01-25                11              5

       Qty  Rate      Tax  total_amt Store_type  total  total_normalized
10       5  1497  785.925   8270.925     e-Shop   7485          0.997981
11       3  1360  428.400   4508.400     e-Shop   4080          0.539704
12       4   587  246.540   2594.540     e-Shop   2348          0.306595
14       3  1253  394.695   4153.695     e-Shop   3759          0.496501
15       5   368  193.200   2033.200     e-Shop   1840          0.238223
...    ...   ...      ...        ...        ...    ...               ...
23048    1  1264  132.720   1396.720     e-Shop   1264          0.160700
23049    1   677   71.085    748.085     e-Shop    677          0.081696
23050    4  1052  441.840   4649.840        MBR   4208          0.556931
23051    3  1142  359.730   3785.730   TeleShop   3426          0.451682
23052    1   447   46.935    493.935   TeleShop    447          0.050740

[12595 rows x 12 columns]

##### Guardar el DataFrame transformado en un nuevo archivo CSV

In [58]:
data.to_csv('Transactions_transformed.csv', index=False)